h1 {
  text-align: center;
}

button {
  font-size: 30px;
  border-radius: 50%;
  margin: 7px;
  border: none;
}

.all {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.buttons {
  text-align: center;
  margin-top: 20px;
}

.index {
  float: right;
}

.name {
  display: inline-block;
}

.shoutoutTable {
  display: table;
  height: 200px;
  width: 100%;
  text-align: center;
}

.shoutout {
  display: table-cell;
  vertical-align: middle;
  margin-right: auto;
  margin-left: auto;
}
