body {
  background-color: #FDFAD2;
}

h1 {
  text-align: center;
  font-family: 'Diskopia';
  font-size: 60px;
  margin-bottom: 0px;
  color: #424949;
}

button {
  font-size: 30px;
  border-radius: 50%;
  margin: 7px;
  border: 5px solid #FFCAB1;
  background-color: #ED6A5A;
  color: #FFCAB1;
}

.buttons {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 20px;
}

.circle {
  height: 500px;
  width: 500px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  overflow: hidden;
  background-color: #77c1b7;
  border: 5px dotted #424949;
  /*border-spacing: 10px;*/
}

.display {
  font-family: Verdana, Geneva, sans-serif;
  text-align: center;
}

.shoutoutTable {
  display: table;
  height: 500px;
  width: 500px;
  text-align: center;
}

.shoutout {
  display: table-cell;
  vertical-align: middle;
  /*background-color: #77c1b7;*/
  font-size: 15px;
}
